<section class="d-flex card-container">

    <div class="porcent-container w-20">
        <div class="circle-stats">50%</div>
    </div>

    <div class="porcent-description w-80 d-flex">
        <div class="w-50 d-flex card-description"> 
            <p class="description w-40">Leads obtenidos</p>
            <p class="value w-60">50/10</p>
        </div>

        <div class="w-50 d-flex card-description">
            <p class="w-40 description">Cola de llamados</p>
            <p class="w-60 value">10/20</p>
        </div>
    
        <div class="w-50 d-flex card-description">
            <p class="w-40 description">Matriculas finalizadas</p>
            <p class="w-60 value">10/20</p>
        </div>
    
       
    </div>

    

</section>
