<section class="d-flex card-container m-t-2">
   <h3>Conexiones de agenda para hoy</h3>
   <div class="list-container">
    <table>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>
              <p>Llamar</p>
              <span class="description">Descuento Temporada</span>
          </td>

          <td class="no-mobile">
              <div class="warning dot"></div>
          </td>

          <td class="no-mobile">
            <div class="actions d-flex">
                <a><span class="material-icons">phone</span></a>
                <a><span class="material-icons-outlined icon-white">message</span></a>
            </div>
          </td>
        </tr>

        <tr>
            <td>Alfreds Futterkiste</td>
            <td>
                <p>Llamar</p>
                <span class="description">Descuento Temporada</span>
            </td>
  
            <td class="no-mobile"> 
                <div class="warning dot"></div>
            </td>
  
            <td class="no-mobile">
              <div class="actions d-flex">
                  <a><span class="material-icons">phone</span></a>
                  <a><span class="material-icons-outlined icon-white">message</span></a>
              </div>
            </td>
          </tr>

          <tr>
            <td>Alfreds Futterkiste</td>
            <td>
                <p>Llamar</p>
                <span class="description">Descuento Temporada</span>
            </td>
  
            <td class="no-mobile">
                <div class="warning dot"></div>
            </td>
  
            <td class="no-mobile">
              <div  class="actions d-flex">
                  <a><span class="material-icons">phone</span></a>
                  <a><span class="material-icons-outlined icon-white">message</span></a>
              </div>
            </td>
          </tr>


      </table>
   </div>
</section>
