<section class="d-flex card-container m-l-2">

    <h3>Meta Grupal</h3>

    <div class="progressbar-container">
        <div class="description d-flex">
            <p>Leads obtenidos</p>
            <p>200/400</p>
        </div>
        <div class="progressbar"></div>
    </div>

    <div class="progressbar-container">
        <div class="description d-flex">
            <p>Matriculas realizadas</p>
            <p>50/100</p>
        </div>
        <div class="progressbar"></div>
    </div>
</section>
