<aside class="navbar">

    <figure class="logo"> 
        <img src="./assets/images/logo.png">
    </figure>

    <nav>
        <ul>
            <li><a><span class="material-icons-outlined icon-white">home</span></a></li>
            <li class="active"><a><span class="material-icons-outlined icon-white">assignment</span></a></li>
            <li><a><span class="material-icons-outlined icon-white">calendar_view_day</span></a></li>
        </ul>
    </nav>

    <div class="info-user">
        <div class="icon-footer">
            <span class="material-icons-outlined icon-white">message</span>
        </div>
        

        <figure class="avatar">
            <img src="{{user.avatar}}">
        </figure>
    </div>

</aside>
